@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
*{
    font-family: 'Roboto Mono';
    font-size: 14px;
}
.country{
    background-color:lightskyblue;
    margin: 2px;
    border: 1px solid black;
    text-align: center;
    width: 200px;
    height: 40px;
display: flex;
align-items: center;
justify-content: center;

}
.country:hover{
    background-color: aqua;
    cursor: pointer;
}
.formClass
{
    padding: 15px;
    background: #28BAA2;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;


}  
#graph{
    width:70%;
    height: 50%;
    background-color: white;
    align-items: center;
    
}
#side{
    overflow-y: scroll;
    height:80vh;
    margin-top: 30px;

}
.wrap{
    text-align: center;
    font-size: 40px;
    color: white;
}
body{
    background-color: #23384E;
    text-align: center;
}
#search {
    display: block;
    position: absolute;
    width: 200px;
    height: 30px;
 
  }
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }